{% extends 'base.html' %}
{% block content %}
<form method="post">
	{% load crispy_forms_tags %}
	{% csrf_token %}
	
		

    
    <div class="mb-3">
      <label for="disabledTextInput" class="form-label" >Name:</label>
      <input  id="disabledTextInput" class="form-control" value="{{edit.title}}" name = "title">
    </div>
    <label for="disabledTextInput" class="form-label" >About:</label>
      <input  id="disabledTextInput" class="form-control" value="{{edit.context}}" name = "context">
    </div><br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    
        <button type="submit" class="btn btn-lg btn-primary " >Edit</button>  
      
    </div>
    
 

		
</form>
{% endblock %}